.container{
    color:white;
    background-color: black;
    display: inline-block;
    padding: 2px 50px;
}
header hr{
    margin:0;
    height: 4px;
    background: black;
    border: none;
}
header{
    margin:80px;
}
.Products{
    width:350px;
    height:300px;
}
main{
    display: flex;
    justify-content: space-around;
}
.categorySection{
    border: 1px solid black;
}

main div{
    text-align: center;
    padding-bottom: 20px;
}
button{
    text-align: center;
    padding: 10px 100px;
    background-color: white;
    color:gray;
    border:2px gray solid ;
}
.cart{
    width:20px;
    height: 20px;
    margin-right:20px;
    vertical-align: middle;
}
